<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                기억보단 기록을 시작하자
            </p>
            <p class="paragraph-text justify-text">
                <a href="https://stallman.org/articles/on-hacking.html">테스트</a>
            </p>
            <p class="paragraph-text justify-text">
                <a href="{{ site.blog_url }}">nagekar.com</a> <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
