<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                안녕하세요? 저의 포트폴리오 화면에 들어와주셔서 감사합니다. 저는 풀스택 개발자로 일하고 있으며, 프론트앤드, 백앤드 부분 모두 다뤄 봤기 때문에 웹 개발의 전반적인 부분을 이해하고 있습니다. docker를 사용하며 kubernetes를 활용하고 Clean Architecture를 적용시키고 DDD를 적용하여 서버를 개발하며 최신 기술을 배우려고 노력하고 있습니다.
            </p>
            <p class="paragraph-text justify-text">
                얼마 안되는 경력이지만 실무를 통해서 여러사람들과 의사소통을 하였습니다. 그 분처럼 되고 싶다하는 개발자 분이 두 분이 계셨습니다. 한 분은 정말 정석적으로 코드를 짜시는 분이 였습니다. 누구나 이해 할 수 있도록 클린 코드를 적용하고 회사에서 사용 되는 코드컨벤션을 이용해서 정말 어려운 코드도 모두가 쉽게 볼 수 있도록 개발을 하시는 분입니다. 또 한 분은 사냥개처럼 개발을 하시는 분입니다. 이 분은 문제가 잘 해결되지 않음에도 어떻게든 물고 놓지 않는 성격이어서 사냥개처럼 표현을 했지만, 이 분과 일을 하게 되면 어떠한 문제에도 대응을 할 수 있겠구나라는 생각이 들었습니다.
            </p>
            <p class="paragraph-text justify-text">
                저의 블로그는 <a href="{{ site.blog_url }}">이막이 블로그</a> 입니다. 저의 github를 구경하시려면 <a href="https://github.com/{{ site.github_username }}">GitHub</a>을 눌러주세요. 저의 이메일은 rgr3287@naver.com 입니다.
            </p>
        </div>
    </section>
</div>
