
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Certificate</h3>
                    <p class="paragraph-text center-align">
                       정보처리기사 <br>
                       SQLD(SQLDeveloper) <br>
                       워드프로세서 단일 등급 <br>
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix" data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Golang</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix" data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>AngularJS</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"><div class="skillbar-bar-inner"></div></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix" data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>MariaDB</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix" data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>TypeScript</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix" data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Git</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix" data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Docker</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
